<div
  class="bg-blackAndres min-h-screen flex flex-col justify-center items-center text-whiteAndres"
>
  <div
    class="container mx-auto max-w-xl p-8 bg-white/5 rounded-2xl shadow-xl backdrop-blur-sm border border-white/10"
  >
    <p class="text-4xl font-bold text-center">Onda Vital</p>
    <section
      class="grid grid-cols-1 lg:grid-cols-2 items-center justify-center gap-14"
    >
      <dragonball-character-add (newCharacter)="addCharacter($event)" />

      <dragonball-character-list
        listName="Listado de personajes"
        [characters]="characters()"
      />
    </section>
  </div>
</div>
