* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: #2c2c2c;
}

button {
  background-color: #1a1a1a;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
}

button:hover {
  background-color: #2c2c2c;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.buttons-container {
  display: flex;
  gap: 10px;
}
